<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="./calc">Calculator</a>
        <a class="navbar-brand" href="./tetris">Tetris</a>
        <a class="navbar-brand" href="./vocabulary">Vocabulary</a>
</nav>