<ul class="theory-nav">
  <li>
    <a class="theory-nav__link" href="">Html</a>
  </li>
  <li>
    <a class="theory-nav__link" href="">Css</a>
  </li>
  <li>
    <a class="theory-nav__link" href="">JavaScript</a>
  </li>
  <li>
    <a class="theory-nav__link" href="">Build Tools</a>
  </li>
  <li>
    <a class="theory-nav__link" href="">Grid notes</a>
  </li>
</ul>
