<div class="navigation">
  <ul class="navigation__holder">
    <li class="navigation__item">
      <a>Главная</a>
    </li>
    <li class="navigation__item">
      <a>Природа</a>
    </li>
    <li class="navigation__item">
      <a>Обзоры</a>
    </li>
    <li class="navigation__item">
      <a>Девушки</a>
    </li>
    <li class="navigation__item">
      <a>Фотография</a>
    </li>
    <li class="navigation__item">
      <a>Авто</a>
    </li>
    <li class="navigation__item">
      <a>Архитектура</a>
    </li>
    <li class="navigation__item">
      <a>Еда</a>
    </li>
    <li class="navigation__item">
      <a>Видео</a>
    </li>
    <li class="navigation__item">
      <a>...</a>
    </li>
  </ul>
</div>
